---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import AboutMe from "../components/AboutMe.astro";
import Image from "astro/components/Image.astro";
import BackgroundImage from "../images/background-inside-garage.jpg";
import BackgroundImageNew from "../images/Video-Effects-Audio-Visualizer.avif";
import BackgroundImageNewNew from "../images/output.jpg";
import Skills from "@src/components/Skills.astro";
import Experience from "@src/components/Experience.astro";
---

<Layout title="TJH dev">
  <Nav />
  <main>
    <Image
      loading="eager"
      class="fixed blur top-0 left-0 -z-1 w-screen h-screen object-cover bg-no-repeat bg-cover filter"
      src={BackgroundImage}
      alt="leadership"
    />
    <!-- <div class="absolute top-0"> -->
    <AboutMe />
    <Skills />
    <Experience />
  </main>
  <!-- </div> -->
</Layout>
