---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout title="TJH dev">
  <main>
    <Nav />
    <AboutMe />
  </main>
</Layout>
