---
import Header from "./Header.astro";
import ProfilePhoto from "@src/images/profile-photo.jpg";

interface Props {
  // title: string;
  // body: string;
}

// const { title, body } = Astro.props;
---

<div class="container mx-auto max-w-[800px] md:px-10 sm:px-5 xs:px-1">
  <div class="text-center mb-10 pt-20">
    <!-- <h2 class="text-2xl font-bold">About Me</h2> -->
    <Header title="About me" />
  </div>
  <div class="flex justify-center mb-2">
    <div class="flex justify-center">
      <div class="border-solid border-white border-2">
        <img src={ProfilePhoto.src} alt="Profile Photo" class="max-w-[180px]" />
      </div>
    </div>
  </div>
  <div
    class="text-white mx-2 z-1 bg-opacity-80 bg-black p-5 max-w-1140px m-auto"
  >
    <p class="text-1.5xl">
      Frontend specalist with 6 years of experience crafting responsive and
      intuitive user interfaces. Proficient in HTML, CSS and Typescript, with
      expertise in modern frameworks like React and Astro. Experienced in
      end-to-end testing using Playwright, enhancing application reliability and
      user experience across different browsers and devices.
      <br />
      <br />
       I began teaching myself web development in May 2018 and secured my first
      software role by March 2019. Although I have experience working across the
      full stack, my true passion is in frontend development, where I strive to
      excel.
    </p>
  </div>
</div>
