---
import Header from "./Header.astro";
import ProfilePhoto from "@src/images/profile-photo.jpg";

interface Props {
  // title: string;
  // body: string;
}

// const { title, body } = Astro.props;
---

<>
  <div class="text-center mb-10 pt-20">
    <!-- <h2 class="text-2xl font-bold">About Me</h2> -->
    <Header title="About me" />
  </div>
  <div class="flex justify-center mb-2">
    <div class="flex justify-center">
      <div class="border-solid border-white border-2">
        <img src={ProfilePhoto.src} alt="Profile Photo" class="max-w-[180px]" />
      </div>
    </div>
  </div>
  <div
    class="text-white mx-2 z-1 bg-opacity-86 bg-black p-5 max-w-1140px m-auto"
  >
    <div class="text-1.5xl">
      Frontend specalist with 6 years of experience crafting responsive and
      intuitive user interfaces. Proficient in HTML, CSS and Typescript, with
      expertise in modern frameworks like React and Astro. Experienced in
      end-to-end testing using Playwright, enhancing application reliability and
      user experience across different browsers and devices.
      <br />
      <br />
       I self taught web development starting in May 2018, and started my first
      software role in March 2019. I have experience working across the full
      stack but my passion lies in doing frontend development and doing it well.
    </div>
  </div>
</>
