---
import Enhance from "@src/images/workexperience/enhance.png";
import Superbet from "@src/images/workexperience/superbet.webp";
import Webdev from "@src/images/workexperience/webdev.jpg";
import Engie from "@src/images/workexperience/engie.jpg";
import Adti from "@src/images/workexperience/adti.jpg";
import Header from "./Header.astro";
import HorizontalRule from "./HorizontalRule.astro";

const workExperienceData: { title: string; text: string; imgPath: string }[] = [
  {
    title: "Enhance",
    text: "Worked on improving a complex customer-facing web hosting control panel, implementing new features and improving performance using TypeScript, React, and Redux. Spearheaded key initiatives including migrating to react-query, rewriting enhance.com from WordPress to Astro for better performance, and implementing an extensive end-to-end test suite with Playwright. Developed new frontend features, fixed numerous bugs, and ensured consistency across the app's UI and UX.",
    imgPath: Enhance.src,
  },
  {
    title: "Superbet",
    text: "Led a complete overhaul of an internal back-office web application using React, Material-UI, Redux, and Webpack, and designed reusable components for querying Elasticsearch data. Created a CMS system for managing banners and an online casino, integrated Jest for unit testing, and developed trader limits tool to reduce company liability. Additionally, quickly learned Erlang to develop and deploy microservices to AWS, maintaining MQTT and REST endpoints, and automated various error-prone tasks.",
    imgPath: Superbet.src,
  },
  {
    title: "Web Development",
    text: "From May 2018, I retrained full-time as a web developer. My main target was to gain a strong grasp of JavaScript, with a secondary goal of becoming familiar with the current JavaScript ecosystem and popular frameworks.",
    imgPath: Webdev.src,
  },
  {
    title: "Engie",
    text: "My job title at Engie was Mechanical Design Engineer on a combined heating and power station. This position required strong problem-solving skills in order to understand how the existing mechanical systems worked for integration of new equipment. Frequent communcation with multiple stake holders was required to keep the project moving forward, this greatly improved my project management and people skills.",
    imgPath: Engie.src,
  },
  {
    title: "Applied Drilling Technology International",
    text: "Immediately after graduating I started work as a Trainee Drilling Engineer. The work environment and shift pattern were challenging. However, this instilled a strong work ethic and the experience gained working in a team were invaluable. Unfortunately ADTI was liquidated during the oil price crash in 2015.",
    imgPath: Adti.src,
  },
];
---

<>
  <div class="container text-center mb-10 pt-20 mx-auto max-w-[1200px]">
    <!-- <h2 class="text-2xl font-bold">About Me</h2> -->
    <div class="text-center mb-10 pt-20">
      <!-- <h2 class="text-2xl font-bold">About Me</h2> -->
      <Header title="Experience" />
    </div>
    <div class="flex gap-1 flex-wrap flex-start justify-center">
      {
        workExperienceData.map(({ imgPath, title, text }) => {
          return (
            <button class="self-start focus:outline-none flex flex-col align-top w-[330px] col-1-of-4 m-6 bg-black bg-opacity-80 text-white text-center rounded-md shadow-lg transition-transform duration-300 ease-in-out hover:scale-110 focus:scale-110 hover:shadow-2xl">
              <img src={imgPath} alt={title} class="w-full" />
              <h3 class="max-w-[220px] mx-auto pt-4 text-center text-lg">
                {title}
                <HorizontalRule />
              </h3>
              <p class="p-5 text-md text-left">{text}</p>
            </button>
          );
        })
      }
    </div>
  </div>
</>
