---
import HorizontalRule from "../components/HorizontalRule.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  class="inline-block bg-opacity-80 border bg-black text-white text-lg px-2 pb-2 pt-1 mx-auto border-1 border-solid border-white"
>
  <h1 class="uppercase text-white">{title}</h1>
  <HorizontalRule />
</div>
