---
import { Icon } from "astro-icon/components";

interface Props {
  // title: string;
  // body: string;
}

// const { title, body } = Astro.props;
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Select all buttons
    const buttons = document.querySelectorAll("button");

    buttons.forEach((button) => {
      // Add click event listener to each button
      button.addEventListener("click", function () {
        // Get the ID from the button text content
        const id = button?.textContent?.trim();
        // Find the element with the matching ID
        const targetElement = id && document.getElementById(id);
        if (targetElement) {
          // Smoothly scroll to the target element
          const elementPosition = targetElement.getBoundingClientRect().top;
          const offsetPosition = elementPosition + window.pageYOffset - 100;

          window.scrollTo({
            top: offsetPosition,
            behavior: "smooth",
          });
        }
      });
    });
  });
</script>

<div
  class="flex fixed justify-center items-center w-screen max-w-full z-15 bg-opacity-90 bg-gray-900 mb-14.5 z-50"
>
  <Icon name="TJHlogo" size={50} />
  <div
    class="gap-3 flex justify-center items-center flex-nowrap max-w-screen-md p-4"
  >
    <button
      class="w-auto z-15 text-nowrap font-semibold sm:text-xs text-[8px] bg-black text-white border border-white px-2 py-1.5 uppercase transition-transform hover:text-black hover:bg-white active:bg-white active:text-black active:translate-y-1"
    >
      About me</button
    >
    <button
      class="w-auto z-15 text-nowrap font-semibold sm:text-xs text-[8px] bg-black text-white border border-white px-2 py-1.5 uppercase transition-transform hover:text-black hover:bg-white active:bg-white active:text-black active:translate-y-1"
      >Skills</button
    >

    <!-- <button
      class="w-auto z-15 text-sm:text-xs nowrap font-semibold  bg-black text-white border border-white px-2 py-1.5 uppercase transition-transform  hover:text-black hover:bg-white active:bg-white active:text-black active:translate-y-1 "
    >
      Portfolio</button
    > -->
    <button
      class="w-auto z-15 text-nowrap font-semibold sm:text-xs text-[8px] bg-black text-white border border-white px-2 py-1.5 uppercase transition-transform hover:text-black hover:bg-white active:bg-white active:text-black active:translate-y-1"
      >Experience</button
    >
  </div>
</div>
