---
import { Icon } from "astro-icon/components";

interface Props {
  // title: string;
  // body: string;
}

// const { title, body } = Astro.props;
---

<div
  class="flex fixed justify-center items-center w-screen max-w-full z-15 bg-opacity-90 bg-gray-900 mb-14.5 z-50"
>
  <Icon name="TJHlogo" size={50} />
  <div
    class="gap-3 flex justify-center items-center flex-wrap max-w-screen-md p-4"
  >
    <button
      class="w-auto z-15 text-nowrap font-semibold text-xs bg-black text-white border border-white px-2 py-1.5 uppercase transition-transform hover:text-black hover:bg-white active:bg-white active:text-black active:translate-y-1"
    >
      About me</button
    >
    <button
      class="w-auto z-15 text-nowrap font-semibold text-xs bg-black text-white border border-white px-2 py-1.5 uppercase transition-transform hover:text-black hover:bg-white active:bg-white active:text-black active:translate-y-1"
      >Skills</button
    >
    <!-- <button
      class="w-auto z-15 text-nowrap font-semibold text-xs bg-black text-white border border-white px-2 py-1.5 uppercase transition-transform  hover:text-black hover:bg-white active:bg-white active:text-black active:translate-y-1 "
    >
      Portfolio</button
    > -->
    <button
      class="w-auto z-15 text-nowrap font-semibold text-xs bg-black text-white border border-white px-2 py-1.5 uppercase transition-transform hover:text-black hover:bg-white active:bg-white active:text-black active:translate-y-1"
      >Experience</button
    >
  </div>
</div>

<style></style>
