---
import { Icon } from "astro-icon/components";
import Header from "./Header.astro";

interface Props {
  // title: string;
  // body: string;
}

const skillsData = [
  {
    iconPath: "typescript",
    skillsTitle: "TypeScript",
    skillsText:
      "A statically typed superset of JavaScript that compiles to plain JavaScript. Can't live without it!",
  },
  {
    iconPath: "react",
    skillsTitle: "React",
    skillsText:
      "React is a view library built by Facebook, released in 2013. It aims to enable complex & dynamic websites to be built using re-usable components.",
  },
  {
    iconPath: "astro",
    skillsTitle: "Astro",
    skillsText:
      "A modern static site generator and web framework that allows building faster websites with less client-side JavaScript by leveraging server-side rendering and partial hydration.",
  },
  {
    iconPath: "tailwind",
    skillsTitle: "Tailwind CSS",
    skillsText:
      "Tailwind CSS is a highly customizable, utility-first CSS framework that revolutionizes styling by providing low-level utility classes for fast and responsive design.",
  },
  {
    iconPath: "playwright",
    skillsTitle: "Playwright",
    skillsText:
      "A powerful, cross-browser automation library for end-to-end testing of web applications, supporting Chromium, Firefox, and WebKit with a single API.",
  },
  {
    iconPath: "react-query",
    skillsTitle: "React Query",
    skillsText:
      "A powerful data fetching and state management library for React applications, simplifying server-state synchronization and caching.",
  },
  {
    iconPath: "jest",
    skillsTitle: "Jest",
    skillsText:
      "Is a testing library developed by Facebook aimed at enabling efficient testing of the React and React Native applications.",
  },
  {
    iconPath: "redux",
    skillsTitle: "Redux",
    skillsText:
      "Redux is a JS library for state management. It is commonly used in conjunction with React or Angular.",
  },
  {
    iconPath: "javascript",
    skillsTitle: "JavaScript",
    skillsText:
      "A programming language made prolific through the use in the browser. It is now seen as the language of the web.",
  },
  {
    iconPath: "es6",
    skillsTitle: "ECMA Script 6",
    skillsText:
      "Released in 2015, ES6 brought a major update to the JavaScript language adding many new features.",
  },
  {
    iconPath: "html5",
    skillsTitle: "HTML 5",
    skillsText: "HTML 5 is the mark-up language for the browser.",
  },
  {
    iconPath: "css3",
    skillsTitle: "CSS 3",
    skillsText:
      "Cascading Style Sheets 3, is the latest version of the language used to add visual spice to a website.",
  },

  {
    iconPath: "nodejs",
    skillsTitle: "NodeJS",
    skillsText:
      "Allows the use of JavaScript to write server side code. Built on top of Chrome's JavaScript V8 runtime engine.",
  },
  {
    iconPath: "npm",
    skillsTitle: "Node Package Manager",
    skillsText:
      " NPM is both a command line interface and the world's largest software registry with approximately 3 billion downloads per week.",
  },
  {
    iconPath: "git",
    skillsTitle: "GIT",
    skillsText:
      "GIT is the go-to version control software. Allowing teams to collaborate and keep track of changes in complex projects.",
  },
  {
    iconPath: "github",
    skillsTitle: "Github",
    skillsText:
      "Github is the most popular remote repository on the web. This allows the remote use of GIT in a seamless fashion.",
  },
  {
    iconPath: "postman",
    skillsTitle: "Postman",
    skillsText:
      "Is a program / chrome extension for testing RESTful APIs. Postman makes it easy to to test, develop and document APIs through HTTP requests.",
  },
  {
    iconPath: "webpack",
    skillsTitle: "Webpack",
    skillsText:
      "Webpack is a module bundler which simplifies the build process for web applications.",
  },
];
---

<div class="text-center mb-10 pt-20">
  <!-- <h2 class="text-2xl font-bold">About Me</h2> -->
  <Header title="Skills" />
  <div
    class="relative mx-auto bg-black/80 grid gap-[5px] auto-rows-[80px] auto-flow-row auto-cols-[.5fr] items-center justify-items-center
    sm:grid-rows-3 sm:grid-cols-6 sm:w-[600px] sm:my-[50px] sm:mx-auto sm:p-[0px]
    xs:grid-rows-6 xs:grid-cols-3 xs:w-[300px] xs:my-[50px] xs:mx-auto xs:p-[0px]
    grid-rows-6 grid-cols-3 w-[300px] my-[50px]
    xs:p-[5px]"
  >
    {
      skillsData.map((skill) => {
        return (
          <div class="group relative">
            {/* <img
                alt="icon"
                class="z-20 w-[80px] text-white mb-4 p-4 rounded-[3px] transition-all duration-300 group-hover:scale-200"
              /> */}
            <button class="pointer-events-none z-[20] text-white m-4 mb-4 rounded-[3px] duration-300 group-hover:scale-[1.95] group-focus-within:scale-[1.95] transition-all focus:outline-none">
              <Icon name={skill.iconPath} size={60} class="" />
            </button>
            <div class="z-[2] text-[1.1rem] relative bg-transparent text-transparent transition-all duration-500 scale-[0.00001] group-hover:z-[20] group-hover:scale-100 group-hover:text-white group-focus-within:scale-100 group-focus-within:text-white ">
              <div class="z-[2] absolute top-[15px]  bg-black/90 p-2.5 left-[-30px] sm:left-[-75px] w-[150px] sm:w-[240px] xs:text-[1rem] xs:top-[30px]">
                <h1 class="text-center font-semibold">{skill.skillsTitle}</h1>
                <p class="text-[0.9rem]">{skill.skillsText}</p>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</div>
